@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: theme('colors.gray.200');
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply relative font-normal font-outfit z-[1] bg-gray-50;
  }
}

@layer components {
  /* Menu item styles */
  .menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-theme-sm;
  }

  .menu-item-active {
    @apply bg-brand-50 text-brand-500 dark:bg-brand-500/[0.12] dark:text-brand-400;
  }

  .menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
  }

  .menu-item-icon-active {
    @apply flex shrink-0 items-center justify-center w-6 h-6 text-brand-500 dark:text-brand-400;
  }

  .menu-item-icon-active > svg {
    @apply w-6 h-6;
  }

  .menu-item-icon-inactive {
    @apply flex shrink-0 items-center justify-center w-6 h-6 text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }

  .menu-item-icon-inactive > svg {
    @apply w-6 h-6;
  }

  .menu-item-text {
    @apply flex items-center gap-2;
  }

  /* Scrollbar utilities */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

@layer utilities {
  /* Remove date input default icons */
  input[type='date']::-webkit-inner-spin-button,
  input[type='time']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
